<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BRB</title>
  </head>
  <body>
    <h1>We'll Be Right Back</h1>
    <p>The site is currently under maintenance, check back soon.</p>
    {{> footer}}
  </body>
</html>
